{% extends 'enroll/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add employee</title>
</head>
<body>
    <form action="#" method='POST'>
        {% csrf_token %}
        <h1>This is New Employee add page</h1>
        <div>
            <label for="name">Name : </label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="adress">Adress : </label>
            <input type="text" name="address">
        </div>
    
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" required>
        </div>
    
        <div>
            <label for="phone">Phone</label>
            <input type="number" name="phone">
        </div>
        <div>
            <button type="submit"> Submit </button>
        </div>
    </form>
</body>
</html>
{% endblock %}